[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">= 3.7.4, < 3.8"
blacksheep = "*"
colorama = "*"
discord = "*"
discord-py-slash-command = "*"
django = "*"
django-extensions = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pytz = "*"
types-pytz = "*"
uvicorn = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.10"
